dist: xenial
sudo: required
language: node_js
node_js:
  - '9.5'
services:
  - mysql
before_install:
  - wget https://dev.mysql.com/get/mysql-apt-config_0.8.12-1_all.deb
  - sudo dpkg -i mysql-apt-config_0.8.12-1_all.deb
  - sudo apt-get update
  - sudo apt-get install mysql-utilities
  - mysql -e 'CREATE USER 'queue'@'localhost'; GRANT ALL PRIVILEGES ON *.* TO 'queue'@'localhost'; CREATE DATABASE queue; CREATE DATABASE queue_test;'
script:
  - npm run build
  - ./scripts/diff_databases.sh
  - DATABASE_URL=mysql://queue@localhost/queue_test npm run test-sequential
  - npm run typecheck
  - npm run lint
  - npm run prettier-diff
cache:
  directories:
    - 'node_modules'
