$page-background: #222;
$dark-background: #343a40;
$dark-border: #444;
$text-color: #fff;

body.darkmode {
  color: $text-color !important;
  background-color: $page-background !important;

  .text-muted {
    color: #999 !important;
  }

  .card,
  .list-group-item {
    background-color: $dark-background !important;
  }

  .card-header {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  .modal-content {
    background-color: $dark-background !important;
    border: 1px solid $dark-border !important;
  }

  .modal-header {
    border-bottom: 1px solid $dark-border !important;
  }

  .modal-footer {
    border-top: 1px solid $dark-border !important;
  }

  .form-control {
    background-color: rgba(255, 255, 255, 0.09) !important;
    border: 1px solid #595959 !important;
    color: $text-color !important;
  }

  .nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: inherit;
    border-color: $dark-border $dark-border transparent !important;
  }
  .nav-link:hover {
    border-color: $dark-border $dark-border $dark-border !important;
  }

  .bg-light {
    background-color: $dark-background !important;
  }

  pre {
    color: $text-color !important;
  }
}
